.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0rem 4rem;
  height: 75px;
  color: white;
  background-color: transparent;
  background: linear-gradient(90deg, #0d1b2a, #142941);
  z-index: 1000;
}

.titulo {
  font-size: 1.5rem;
  color: white;
  animation: fade-down 1.5s;
}

.navbar {
  display: flex;
  gap: 2rem;
  animation: fade-up 1.5s;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #00b4d8;
  left: 50%;
  bottom: -2px;
  transition: all 0.3s ease;
  will-change: width;
  transform: translateX(-50%);
}

.navbar a:hover::after {
  width: 100%;
  right: 0;
}

.hamburguer {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease;
}

.rotate {
  animation: rotateIcon 0.3s ease forwards;
}

.shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/*Responsive*/

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 99%;
    right: 0;
    width: 40%;
    flex-direction: column;
    background: linear-gradient(
      180deg,
      rgba(27, 38, 59, 0.8),
      rgba(65, 90, 119, 0.8)
    );
    backdrop-filter: blur(10px);
    padding: 0;
    overflow: hidden;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    max-height: 0;
    transition: max-height 0.4s ease, padding 0.4s ease;
    z-index: 10;
  }


  .navbar a {
    text-align: center;
    font-size: 1.4rem;
  }
  .navbar a:hover {
    color: #00b4d8;
  }

  .navbar a:hover::after {
    width: 50%;
    right: 0;
  }

  .show {
    display: flex;
    max-height: 500px;
    padding: 1.5rem 0rem;
  }

  .navbar.show {
    display: flex;
  }

  .hamburguer {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    color: white;
  }

  .rightSection {
    gap: 0.5rem;
  }
  .header {
    padding: 0rem 1.5rem;
    width: 100%;
  }
}

/*Keyframe*/

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
